::selection {
  background: #3a3e3e;
  color: #fff;
  text-shadow: none;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #212529;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.opacity1 {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0 !important;
}
